---
id: employment-verification
title: What does the Employment Verification Workflow Definition look like?
sidebar_label: Employment Verification
description: TODO
---

<!--SNIPSTART background-checks-employment-verification-workflow-definition-->

[Take me to the code](https://github.com/temporalio/background-checks/blob/main/workflows/employment_verification.go)

<!--SNIPEND-->

![Swim lane diagram of the Employment Verification Child Workflow Execution](/diagrams/background-checks/employment-verification-flow.svg)
