/* src/components/captioned-image/CaptionedImage.module.css */
.imageContainer {
  margin: 4px 4px;
}

.image {
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 0px;
  font-size: 0.8em;
  text-align: start;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}

.lightOnly {
  visibility: visible;
  position: relative;
}

.darkOnly {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

:global([data-theme='dark']) .lightOnly {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

:global([data-theme='dark']) .darkOnly {
  visibility: visible;
  position: relative;
}
