docs/activities.md linguist-generated=true
docs/cluster-deployment-guide.md linguist-generated=true
docs/clusters.md linguist-generated=true
docs/glossary.md linguist-generated=true
docs/namespaces.md linguist-generated=true
docs/retry-policies.md linguist-generated=true
docs/security.md linguist-generated=true
docs/tasks.md linguist-generated=true
docs/temporal.md linguist-generated=true
docs/visibility.md linguist-generated=true
docs/web-ui.md linguist-generated=true
docs/workers.md linguist-generated=true
docs/workflows.md linguist-generated=true
docs/dev-guide/golang/debugging.md linguist-generated=true
docs/dev-guide/golang/features.md linguist-generated=true
docs/dev-guide/golang/foundations.md linguist-generated=true
docs/dev-guide/golang/observability.md linguist-generated=true
docs/dev-guide/golang/testing.md linguist-generated=true
docs/dev-guide/java/debugging.md linguist-generated=true
docs/dev-guide/java/features.md linguist-generated=true
docs/dev-guide/java/foundations.md linguist-generated=true
docs/dev-guide/java/observability.md linguist-generated=true
docs/dev-guide/java/testing.md linguist-generated=true
docs/dev-guide/php/debugging.md linguist-generated=true
docs/dev-guide/php/features.md linguist-generated=true
docs/dev-guide/php/foundations.md linguist-generated=true
docs/dev-guide/php/observability.md linguist-generated=true
docs/dev-guide/php/testing.md linguist-generated=true
docs/dev-guide/python/debugging.md linguist-generated=true
docs/dev-guide/python/features.md linguist-generated=true
docs/dev-guide/python/foundations.md linguist-generated=true
docs/dev-guide/python/observability.md linguist-generated=true
docs/dev-guide/python/testing.md linguist-generated=true
docs/dev-guide/typescript/debugging.md linguist-generated=true
docs/dev-guide/typescript/features.md linguist-generated=true
docs/dev-guide/typescript/foundations.md linguist-generated=true
docs/dev-guide/typescript/observability.md linguist-generated=true
docs/dev-guide/typescript/testing.md linguist-generated=true
docs/cloud/ linguist-generated=true
docs/references/cluster-metrics.md linguist-generated=true
docs/references/commands.md linguist-generated=true
docs/references/configuration.md linguist-generated=true
docs/references/errors.md linguist-generated=true
docs/references/events.md linguist-generated=true
docs/references/sdk-metrics.md linguist-generated=true
docs/references/server-options.md linguist-generated=true
docs/references/web-ui-configuration.md linguist-generated=true
docs/references/web-ui-environment-variables.md linguist-generated=true
ASSEMBLY_REPORT.md linguist-generated=true