{
  "printWidth": 120,
  "proseWrap": "always",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "overrides": [{ "files": "**/*.{md,mx}", "options": { "parser": "mdx" } }]
}