/* Reduce animation noise during visual regression runs */
*,
*::before,
*::after {
  transition-duration: 0.01ms !important;
  transition-delay: 0s !important;
  animation-duration: 0.01ms !important;
  animation-delay: -0.01ms !important;
  animation-iteration-count: 1 !important;
}

html,
body {
  scroll-behavior: auto !important;
}

[data-theme][data-has-mounted='false'] {
  opacity: 1 !important;
}