/* src/components/pretty-image/PrettyImage.module.css */
.imageContainer {
  text-align: center;
  border: 1px solid #dbdbdb;
  padding: 0px;
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 3px;
}

.image {
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  color: #414141;
}
