---
id: tls-disable-host-verification
title: temporal tls-disable-host-verification
sidebar_label: tls-disable-host-verification
description: Disables TLS host name verification if already enabled.
tags:
  - cli reference
  - temporal cli
  - options-feature
  - command-line-interface-cli
  - tls
  - verification
---

Disables TLS host name verification if already enabled.
