.temporal-ball {
  position: absolute;
  left: 0;
  animation: popBall 0.5s 5s;
}

.modal-overlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(101, 108, 133, 0.8);
  z-index: 9999;
}

.modal {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  height: calc(80% - 108px);
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f4f4f4;
  border-radius: 16px;
  z-index: 99999;
  box-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a64;
  overflow: hidden;
}

iframe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

@keyframes popBall {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
