@media screen and (min-width: 998px) {
  .EditThisLink {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    z-index: 99;
  }
  .EditThisLink:hover {
    background-color: var(--ifm-color-content);
    color: var(--ifm-color-content-inverse);
  }
}
