/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #127ae5;
  --ifm-color-primary-dark: #0e60b2;
  --ifm-color-primary-darker: #093d71;
  --ifm-color-primary-darkest: #041a31;
  --ifm-color-primary-light: #3e97ef;
  --ifm-color-primary-lighter: #84bdf5;
  --ifm-color-primary-lightest: #cae3fb;
  --ifm-code-font-size: 95%;
  --ifm-color-hero-background-dark: #18191a;
}

html[data-theme="dark"] {
  --ifm-link-color: var(--ifm-color-primary-lighter);
  --ifm-menu-color-active: var(--ifm-color-primary-lighter);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lighter);
  --ifm-toc-link-color: var(--ifm-color-primary-lighter);
  --ifm-blockquote-color: #eeeeee;
  --ifm-code-background: var(--ifm-color-primary-dark);
}

html[data-theme="light"] {
  --ifm-blockquote-color: #000000;
  --ifm-color-emphasis-300: #505050;
  --ifm-code-background: var(--ifm-color-primary-lightest);
  --ifm-color-input-background: #ffffff;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik-Bold";
  src: url("../fonts/Aeonik-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik-Light";
  src: url("../fonts/Aeonik-Light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*
  CUSTOM SCROLLBARS! https://css-tricks.com/the-current-state-of-styling-scrollbars/
  */
body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar {
  width: clamp(5px, 1vw, 20px);
}
body::-webkit-scrollbar-thumb {
  /* background: linear-gradient(var(--ifm-color-primary), #127ae5); */
  background: linear-gradient(#127ae5, #8f86da);
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
.menu__list,
.navbar {
  font-family: "Aeonik", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 0.03em;
}

@media only screen and (max-width: 500px) {
  .hero__title {
    font-size: 2em;
  }
}

.markdown {
  font-size: 1.1em;
}

.hero--primary {
  --ifm-hero-text-color: #ffffff;
}

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: #ffffff;
}

.footer {
  background-color: var(--ifm-color-primary-darkest);
}

.footer a:hover {
  color: #ffffff;
}

.footer .footer__col:first-child .footer__item:first-child {
  font-weight: bold;
}

.footer .footer__copyright {
  margin-bottom: 1rem;
  opacity: 0.8;
}

@media (max-width: 996px) {
  .footer .footer__separators {
    display: none;
  }

  .footer .footer__block {
    display: block;
  }
}

.footer .footer__svg {
  fill: currentColor;
  margin: 2em;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.docs-image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.docs-image-max-width-20 {
  width: 20%;
}

.docs-image-max-width-50 {
  width: 50%;
}

.case-study-header {
  background-color: #000000;
}

.hero--primary {
  background-color: var(--ifm-color-hero-background-dark);
  background-image: url("/backgrounds/StarBackgroundMuted.svg");
  background-attachment: fixed;
}

.signUpInput {
  width: 100%;
  color: #5d6570;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #a2a2a2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--ifm-color-input-background);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#mc-embedded-waitlist {
  margin-top: 15px;
}

.related-read-div {
  border-width: 0;
  padding: 7px var(--ifm-alert-padding-horizontal);
  margin-bottom: 0.5em;
}

.related-read-label {
  font-weight: 600;
}

.related-read-link {
  margin-left: 7px;
}

.related-read-archetype-tag {
  padding: 3px 6px;
  color: #ffffff;
  font-size: 0.8em;
  border-radius: 6px;
  margin-left: 7px;
}

.archetype-tag-operation-guide {
  background-color: #ca1a7b;
}

.archetype-tag-developer-guide {
  background-color: #ca811a;
}

.archetype-tag-tutorial {
  background-color: #1ac9c7;
}

.archetype-tag-explanation {
  background-color: #78c91a;
}

.archetype-tag-reference {
  background-color: #cf8f19;
}

.docs-image-wrapper {
  width: 100%;
  background-color: #efefef;
  margin: 0 0 15px 0;
  padding: 0;
}

.docs-centered-image-wrapper {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 15px;
}

.docs-image-title-wrapper {
  width: 100%;
  margin: 0;
  padding: 15px;
  text-align: left;
  font-size: 0.9em;
  font-weight: 300;
  color: #121212;
}

.docs-centered-image-size-100 {
  width: 100%;
}

.docs-centered-image-size-75 {
  width: 75%;
}

.docs-centered-image-size-50 {
  width: 50%;
}

.docs-image-legend-wrapper {
  width: 100%;
  margin: 0;
  padding: 15px;
  text-align: left;
  font-size: 0.9em;
  font-weight: 300;
  color: #121212;
}

.docs-image-legend-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.docs-image-legend-symbol {
  font-size: 1.2em;
  font-weight: 600;
}
