/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
  :root {
  --ifm-color-primary: #6b62b6;
  --ifm-color-primary-dark: #5a50ac;
  --ifm-color-primary-darker: #554ca2;
  --ifm-color-primary-darkest: #463e86;
  --ifm-color-primary-light: #7d75bf;
  --ifm-color-primary-lighter: #867fc3;
  --ifm-color-primary-lightest: #a19bd1;
  --ifm-code-font-size: 95%;
  --ifm-link-color: var(--ifm-color-primary-dark);
  --ifm-background-color: #f2f2f2;
}

html[data-theme='dark'] {
  --ifm-background-color: #141414;
  --ifm-link-color: #b8b4dc;
  --ifm-menu-color-active: #b8b4dc;
  --ifm-navbar-link-hover-color: #b8b4dc;
  --ifm-toc-link-color: #b8b4dc;
  --ifm-blockquote-color: #eeeeee;
  --ifm-color-emphasis-300: #d0d0d0;
}

html[data-theme='light'] {
  --ifm-blockquote-color: #000000;
  --ifm-color-emphasis-300: #505050;
}

.footer {
  background-color: var(--ifm-color-primary-darker);

}
.footer a:hover{
  color:#ffffff;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.docs-image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.docs-image-max-width-20 {
  width: 20%;
}

.case-study-header{
  background-color: #000000;
}
