/* src/components/captioned-image/CaptionedImage.module.css */
.imageContainer {
  margin: 10px 0;
  border-radius: 3px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.title {
  margin-top: 0px;
  font-size: 0.8em;
  text-align: start;
  font-style: italic;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}
